body{
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex {
    background-color: #fff;
    display: flex;
    gap: 30px;
    padding: 25px 0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.cabecalho img {
    width: 100px;
    height:40px;
}

.cabecalho img:hover {
    transform: scale(1.15);
}
